<a href="https://colab.research.google.com/github/deulkkae/js-basic-book/blob/master/ch3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ch3. 조건문

In [1]:
print(10 == 100)
print(10 != 100)
print(10 < 100)
print(10 > 100)
print(10 <= 100)
print(10 >= 100)

False
True
True
False
True
False

한글은 사전 순서(가나다순)로 앞에 있는 것이 작은 값을 갖습니다. 예를 들어 '가방’과 ‘하마’를 비교하면 사전 순서로 ‘가방’이 앞에
있으므로 ‘가방’이 ‘하마’보다 작은 값을 갖습니다.

In [2]:
print("가방" == "가방")
print("가방" != "하마")
print("가방" < "하마")
print("가방" > "하마")

True
True
True
False

In [3]:
x = 25
print(10 < x < 30)
print(40 < x < 60)

True
False

In [5]:
print(not True)
print(not False)

False
True

In [7]:
x = 10
under_20 = x < 20
print(under_20)
print("under_20:", under_20)
print("not under_20:", not under_20)

True
under_20: True
not under_20: False

In [9]:
print(True and True) #ture
print(True and False) #false
print(False and True) #false
print(False and False) #false
print(True or True) #ture
print(True or False) #ture
print(False or True) #true
print(False or False) # false

True
False
False
False
True
True
True
False

In [13]:
if True: 
    print("True 입니다.")
    print("if 값이 True 이면 print를 출력합니다.")

True 입니다.
if 값이 True 이면 print를 출력합니다.

In [0]:
if False:
    print("if 뒤에 나오는 불 값이 False이면 출력이 되지 않는다.")

In [18]:
# 입력을 받습니다.
number = input("정수 입력> ")
number = int(number)

# 양수 조건
if number > 0:
    print("양수입니다")

# 음수 조건
if number < 0:
    print("음수입니다")

# 0 조건
if number == 0:
    print("0입니다")

정수 입력> 0
0입니다

In [25]:
# 날짜/시간과 관련된 기능을 가져옵니다.
import datetime

# 현재 날짜/시간을 구합니다. datetime.datetime.now( )라는 함수로 현재의 시간을 구해 now라는 변수에 대입합니다
now = datetime.datetime.now()

# 출력합니다.
print(now.year, "년")
print(now.month, "월")
print(now.day, "일")
print(now.hour, "시")
print(now.minute, "분")
print(now.second, "초")

2020 년
3 월
25 일
12 시
54 분
36 초

In [28]:
import datetime

# 현재 날짜/시간을 구합니다.
now = datetime.datetime.now()

# 출력합니다.
print("{}년 {}월 {}일 {}시 {}분 {}초".format(
    now.year,
    now.month,
    now.day,
    now.hour,
    now.minute,
    now.second
))

2020년 3월 25일 12시 56분 46초

In [39]:
# 날짜/시간과 관련된 기능을 가져옵니다.
import datetime

# 현재 날짜/시간을 구합니다.
now = datetime.datetime.now()

print(now.hour)

# 오전 구분
if now.hour < 12:
    print("현재 시각은 {}시로 오전입니다!".format(now.hour))

# 오후 구분
if now.hour >= 12:
    print("현재 시각은 {}시로 오후입니다!".format(now.hour))

13
현재 시각은 13시로 오후입니다!

In [43]:
import datetime
now = datetime.datetime.now()

if 3 <= now.month <= 5:
    print("이번 달은 {}월로 봄입니다.".format(now.month))

if 6 <= now.month <= 8:
    print("이번 달은 {}월로 여름입니다.".format(now.month))

if 9 <= now.month <= 11:
    print("이번 달은 {}월로 가을입니다.".format(now.month))

if 12 <= now.month <= 2:
    print("이번 달은 {}월로 겨울입니다.".format(now.month))

이번 달은 3월로 봄입니다.

In [45]:
number = input("정수를 입력해> ")
last_character = number[-1]
last_number = int(last_character)

if last_number == 0 \
    or last_number == 2 \
    or last_number == 4 \
    or last_number == 6 \
    or last_number == 8:
    print("짝수다")

정수를 입력해> 50
짝수다

In [49]:
number = input("정수를 입력해> ")
last_character = number[-1]

if last_character in "02468":
    print("짝수다")

if last_character in "13579":
    print("홀수다")

정수를 입력해> 123
홀수다

컴퓨터는 모든 것을 숫자로 계산하기 때문에 문자열 연산보다 숫자 연산이
조금 더 빠릅니다.

In [50]:
number = input("정수를 입력해> ")
number = int(number)

if number % 2 == 0:
    print("짝수야")
if number % 2 == 1:
    print("홀수야")

정수를 입력해> 123
홀수야